@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
*{
    box-sizing: border-box; /*when you want to set a fixed width or height on an element and have the padding and border fit within that fixed size.*/
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    height:100vh ; /*takes up 100% of the veiw port*/
}

.container{
    position: relative;
    overflow: hidden;/*hides scroll bar */
    width: 100vw;
    height: 100vh;
}
.left{
    height: 100%;
    width: 35%;
    position: absolute;
    left: 0;
    transition: transform .5s ease-in-out;

}
.left > div {
   height: 100%; 
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: antiquewhite;

}
/* the < in css is selects the first child  */
.left h1 {
    font-size: 30px;
    margin: 10px;
    margin-top: -170px;

}
.right{
    height: 100%;
    position: absolute;
    top: 0;
 left: 35%;
 width: 65%;
   transition: transform .5s ease-in-out;
}
.right > div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;

}
.container .btns button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;

}

button{
    background-color: white;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;

}
button:hover{
    color:rgb(0, 0, 0) ;
}
button:focus{
    outline: none;
}

.container .btns .down{
    transform: translateY(100%);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;

}

.container .btns .up{
    transform: translateX(-100%);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    

}

.exp{
    background-image: url('https://images.unsplash.com/photo-1617900906639-cab7adceb499?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 
    flex-direction: column;
    

    
    
}
.exp h1{
    font-size: 14px;
    color:#ff5500 ;
    margin: 20px;
    background-color: beige;
    border-radius: 10px;
}
.intro{
    background-image: url('https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
}


.project{
    background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
flex-direction: column;
}

a{
    color: rgb(0, 108, 196);
    text-decoration: none;
   margin: 20px;
   background-color: antiquewhite;
   border-radius: 10px;
   padding: 10px;
}
a h1:hover{
color: rgb(112, 226, 255);
   
   scale: 1.2;

}
.exp> h1{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
p{
    font-size: 20px;
    margin: 10px;
}


@media screen and (max-width:480px) {
    /*CSS code for devices with a maximal width of 720 px */
    h1{
        color: red;
    }

    }
    